body {
	padding: 0;
	margin: 0 auto;
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: medium;
	max-width: 1450px;
	width: 100%;
	overflow: auto;
}
a {
	text-decoration: none;
	cursor: pointer;
}
ul, li, h1, h2, h3, h4, h5, h6, p {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
form, label, input {
	font-size: inherit;
	font-family: inherit;
	box-sizing: border-box;
	margin: 0;
	outline: none;
}
/*header*/
#nav, .nav_open {
	display: none;
}
.header {
	max-width: 1450px;
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header_ {
	max-width: 1250px;
	width: 95%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header_logo {
	margin-right: 20px;
}
.header_nav {
	display: flex;
	justify-content: space-evenly;
	flex-basis: 70%;
}
.header_nav li {
	margin-right: 20px;
}
.header_nav a {
	color: #404242;
	padding: 10px 10px;
	text-align: center;
	display: block;
	position: relative;
}
.header_nav a:hover::after {
	content: '';
	width: 45%;
	height: 4px;
	border-radius: 20px;
	position: absolute;
	top: 30px;
	left: 50%;
	transform: translateX(-50%);
	background: #FEC62D;
	display: block;
}
.header_nav a:hover {
	color: #58A9A5;
}
.singUp {
	color: #fff;
	min-width: 125px;
	height: 45px;
	background: #58A9A5;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	transition-duration: .7s;
	transition-property: all;
}
.singUp:hover {
	background: #185653;
	transition-duration: .7s;
	transition-property: all;
}
@media only screen and (max-width: 750px) {
	.header_nav, .singUp {
		display: none;
	}
	.header {
		height: 80px;
	}
	#nav {
		position: fixed;
		top: 0;
		max-width: 750px;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		background: rgba(0, 0, 0, .7);
		overflow: auto;
	}
	#nav li {
		margin-top: 50px;
	}
	#nav li:nth-child(2) {
		margin-top: 100px;
	}
	#nav li a{
		padding: 15px;
		font-size: 170%;
		color: #58A9A5;
	}
	#nav:not(:target) {
		left: -100%;
		transition: all ease .7s;
	}
	#nav:target {
		left: 0;
		transition: all ease .7s;
	}
	.nav_open {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		width: 40px;
		height: 50px;
		padding: 10px 10px;
	}
	.nav_open span:first-child {
		display: block;
		width: 100%;
		height: 5px;
		background: #58A9A5;
		border-radius: 20px;
	}
	.nav_open span:nth-child(2) {
		display: block;
		width: 80%;
		height: 5px;
		background: #58A9A5;
		border-radius: 20px;
	}
	.nav_open span:last-child {
		display: block;
		width: 100%;
		height: 5px;
		background: #58A9A5;
		border-radius: 20px;
	}
	.nav_close {
		position: absolute;
		top: 5px;
		right: 11px;
	}

}
/*box1*/
.box1 {
	max-width: 1450px;
	width: 100%;
	height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 50px;
}
.box1_ {
	max-width: 1250px;
	width: 95%;
	height: inherit;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.box1_block1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 600px;
	width: 50%;
	margin-right: 20px;
}
.box1_block1_ {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: inherit;
}
.box1_block1 h1 {
	font-weight: 900;
	font-size: 300%;
}
.box1_block1 p {
	font-size: 130%;
}
.box1_block1 .box1_button {
	width: 150px;
	border-radius: 10px 10px 10px 0px;
	color: #fff;
	/*min-width: 125px;*/
	height: 45px;
	background: #58A9A5;
	display: flex;
	justify-content: center;
	align-items: center;
	transition-duration: .7s;
	transition-property: all;
}
.box1_button:hover {
	background: #185653;
	transition-duration: .7s;
	transition-property: all;
}
.box1_block2 {
	background: #CCF0E6;
	height: 600px;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 120px;
	overflow: hidden;
}
.box1_block2 img {
	width: 500px;
	height: 500px;
}
@media only screen and (max-width: 900px) {
	.box1_block2 {
		display: none;
	}
	.box1 {
		margin-top: 25px
	}
	.box1_block1 {
		max-width: 900px;
		width: 100%;
		margin: 0;
		background: #CCF0E6;
		background-size: contain;
		border-radius: 20px;
		overflow: hidden;
	}
	.box1_block1 h1 {
		color: #fff;
		text-shadow: 5px 5px 5px #000;
	}
	.box1_block1 p {
		color: #fff;
		text-shadow: 0px 0px 8px #000;
	}
	.box1_block1_ {
		background: url(images/image1.png) no-repeat center;
		padding: 30px;
	}
}
@media only screen and (max-width: 500px) {
	.box1_block1 h1 {
		font-weight: 900;
		font-size: 250%;
	}
	.box1_block1 p {
		font-size: 100%;
	}
}
/*box2*/
.box2 {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1450px;
	width: 100%;
	min-height: 550px;
	margin-bottom: 100px;
}
.box2_ {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	max-width: 1250px;
	width: 95%;
	min-height: 550px;
}
.box2_block1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.box2_block1 h1 {
	font-weight: 900;
	font-size: 300%;
}
.box2_block1 p {
	margin-top: 10px;
	font-size: 130%;
}
.box2_block2 {
	display: flex;
	height: 290px;
}
.box2_block2_cont1 {
	width: 70%;

}
.box2_block2_cont1 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 20px 0px 0px 20px;
}
.box2_block2_cont2 {
	width: 375px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background: #CCF0E6;
	border-radius: 0px 20px 20px 0px;
	position: relative;
}
.box2_block2_see {
	position: absolute;
	bottom: 40px;
	left: -40px;
	background: rgba(255, 255, 255, .5);
	width: 90px;
	height: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}
.box2_block2_see_ {
	width: 70px;
	height: 70px;
	background: #fff;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.box2_block2_see_ img {
	position: relative;
	left: 5px;
}
.box2_block2_cont2 p {
	max-width: 250px;
	color: #486958;
}
.box2_block2_cont2 a {
	display: block;
	color: #486958;
	font-weight: 700;
	position: relative;
	width: 115px;
}
.box2_block2_cont2 a:hover {
	color: #58A9A5;
}
.box2_block2_cont2 a:hover::after {
    content: '';
    width: 65%;
    height: 4px;
    border-radius: 20px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #FEC62D;
    display: block;
}
@media only screen and (max-width: 740px) {
	.box2 {
		margin-bottom: 25px;
	}
}
@media only screen and (max-width: 600px) {
	.box2_block2_cont1 {
		display: none;
	}
	.box2_block2_cont2 {
		max-width: 600px;
		width: 100%;
	}
	.box2_block2_see {
		left: 15px;
		width: 70px;
		height: 70px;
	}
	.box2_block2_see_ {
		width: 50px;
		height: 50px;
	}
	.box2_block2_see img {
		width: 20px;
		height: 30px;
	}
}
@media only screen and (max-width: 500px) {
	.box2_block1 h1 {
		font-weight: 900;
	    font-size: 250%;
	}
	.box2_block1 p {
	    font-size: 100%;
	}
}
/*box3*/
.box3 {
	max-width: 1450px;
	width: 100%;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 300px;
}
.box3_ {
	max-width: 1250px;
	width: 95%;
	height: 400px;
	display: flex;
	justify-content: space-between;
}
.box3_block1 {
	width: 40%;
	height: 400px;

}
.box3_block1 img {
	width: 100%;
	height: 400px;
	object-fit: cover;
	object-position: bottom left;
}
.box3_block2 {
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.box3_block2 h1 {
	padding-left: 80px;
	padding-right: 10px;
	margin-top: 10px;
	max-width: 400px;
}
.box3_block2 p {
	padding-left: 80px;
	padding-top: 60px;
	max-width: 400px;
	padding-right: 10px;
}
@media only screen and (max-width: 740px) {
	.box3_block1 {
		display: none;
	}
	.box3_block2 {
		background: red;
		max-width: 740px;
		width: 100%;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		background: url(images/Rectangle14.png) no-repeat bottom;
		background-size: cover;
		text-align: center;
		color: #fff;
		text-shadow: 0px 3px 5px #000;

	}
	.box3_block2 h1 {
		padding: 0;
		margin: 0px 10px 0px 10px;
	}
	.box3_block2 p {
		padding: 0;
		margin: 0px 10px 0px 10px;
	}
}